* {
  font-family: "Noto Serif", serif;
  font-family: "Roboto", "Helivetca", "Arial", sans-serif;
}

.css-heg063-MuiTabs-flexContainer {
  justify-content: space-around;
}

.css-18fn62o-MuiButtonBase-root-MuiTab-root {
  min-height: 37.5px !important;
}

.error__page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}

.error__info {
  text-transform: uppercase;
  font-size: 2.5em;
}

.errorpagelink {
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
  color: gray;
  font-size: 1.5em;
}

a {
  text-decoration-color: gray !important;
}

svg {
  cursor: pointer;
}

.toggleDetailElements {
  display: flex !important;
}

.toggleViewDetails {
  display: none !important;
}
